Repository PolideaInternal/airflow-site: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-css, lint-js

lint-css:
  name: Lint CSS files
  entry: ./site.sh lint-css
  language: system
  pass_filenames: false

lint-js:
  name: Lint JS files
  entry: ./site.sh lint-js
  language: system
  pass_filenames: false

fixup! sidebar styling
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/layouts/partials/sidebar-tree.html
  landing-pages/site/static/icons/sidebar-arrow.svg
Due: lint-css

WIP collapsing
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/layouts/partials/sidebar-tree.html
  landing-pages/src/index.js
  landing-pages/src/js/sidebarCollapse.js
Due: lint-css, lint-js

moved rst-content to hugo content file
  landing-pages/site/content/en/roadmap/Overview/_index.html
  landing-pages/site/content/en/roadmap/Overview/_index.md
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/site/layouts/roadmap/list.html
  landing-pages/site/layouts/roadmap/single.html
Due: none

sidebar styling
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/layouts/partials/sidebar-tree.html
  landing-pages/site/layouts/roadmap/baseof.html
Due: lint-css

single page styling
  landing-pages/site/content/en/roadmap/Examples/_index.md
  landing-pages/site/content/en/roadmap/Reference/_index.md
  landing-pages/site/content/en/roadmap/Reference/parameter-reference.md
  landing-pages/site/content/en/roadmap/_index.md
  landing-pages/site/layouts/roadmap/single.html
Due: none

styles for rst-content
  landing-pages/site/assets/scss/_pygments.scss
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/roadmap/baseof.html
Due: lint-css

attached correct links to suggest a change buttons
  landing-pages/site/layouts/_default/baseof.html
  landing-pages/site/layouts/case-studies/baseof.html
  landing-pages/site/layouts/community/baseof.html
  landing-pages/site/layouts/install/baseof.html
  landing-pages/site/layouts/meetups/baseof.html
  landing-pages/site/layouts/partials/suggest-change.html
  landing-pages/site/layouts/taxonomy/baseof.html
Due: none

initial styling for roadmap
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/content/en/roadmap/Concepts/_index.md
  landing-pages/site/content/en/roadmap/Contribution guidelines/_index.md
  landing-pages/site/content/en/roadmap/Examples/_index.md
  landing-pages/site/content/en/roadmap/Getting started/_index.md
  landing-pages/site/content/en/roadmap/Getting started/example-page.md
  landing-pages/site/content/en/roadmap/Overview/_index.md
  landing-pages/site/content/en/roadmap/Reference/_index.md
  landing-pages/site/content/en/roadmap/Reference/parameter-reference.md
  landing-pages/site/content/en/roadmap/Tasks/Ponycopters/_index.md
  landing-pages/site/content/en/roadmap/Tasks/Ponycopters/configuring-ponycopters.md
  landing-pages/site/content/en/roadmap/Tasks/Ponycopters/launching-ponycopters.md
  landing-pages/site/content/en/roadmap/Tasks/_index.md
  landing-pages/site/content/en/roadmap/Tasks/beds.md
  landing-pages/site/content/en/roadmap/Tasks/porridge.md
  landing-pages/site/content/en/roadmap/Tasks/task.md
  landing-pages/site/content/en/roadmap/Tutorials/_index.md
  landing-pages/site/content/en/roadmap/Tutorials/multi-bear.md
  landing-pages/site/content/en/roadmap/Tutorials/tutorial2.md
  landing-pages/site/content/en/roadmap/_index.md
  landing-pages/site/layouts/partials/sidebar-tree.html
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/site/layouts/roadmap/list.html
  landing-pages/site/layouts/roadmap/single.html
Due: lint-css

cleaned up roadmap css
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/assets/scss/_rst-content.scss
Due: lint-css

fixup! Update landing-pages/src/js/progressTracking.js
  landing-pages/src/js/progressTracking.js
Due: lint-js

mobile version of sidebar
  landing-pages/site/assets/icons/content-hamburger-icon.svg
  landing-pages/site/assets/scss/_content-drawer.scss
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/src/js/contentDrawer.js
Due: lint-css, lint-js

version selector
  landing-pages/site/assets/scss/_dropdown.scss
  landing-pages/site/assets/scss/main-custom.scss
  landing-pages/site/layouts/partials/version-selector.html
  landing-pages/src/index.js
  landing-pages/src/js/versionSelector.js
Due: lint-css, lint-js

fixup! actual styles for roadmap
  landing-pages/.stylelintignore
  landing-pages/site/assets/scss/_content-drawer.scss
Due: lint-css

correct link to suggest a change page
  landing-pages/site/layouts/roadmap/baseof.html
Due: none

fixup! styles for rst-content
  landing-pages/site/assets/scss/_pygments.scss
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/content/en/roadmap/Overview/_index.html
Due: lint-css

fixup! tracking progress on right side navbar
  landing-pages/src/js/sidebarCollapse.js
Due: lint-js

right navbar styling
  .pre-commit-config.yaml
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/layouts/roadmap/baseof.html
Due: lint-css

adding wy-table-responsive wrapper around tables
  landing-pages/site/content/en/roadmap/Overview/_index.html
  landing-pages/src/index.js
  landing-pages/src/js/makeTableResponsive.js
Due: lint-js

Update landing-pages/src/js/progressTracking.js
  landing-pages/src/js/progressTracking.js
Due: lint-js

replaced magic constant with navbar height variable
  landing-pages/src/js/progressTracking.js
Due: lint-js

tracking progress on right side navbar
  landing-pages/site/assets/scss/_rst-content.scss
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/src/index.js
  landing-pages/src/js/progressTracking.js
Due: lint-css, lint-js

actual styles for roadmap
  landing-pages/site/assets/scss/_roadmap.scss
  landing-pages/site/layouts/partials/sidebar-tree.html
  landing-pages/site/layouts/roadmap/baseof.html
  landing-pages/src/index.js
  landing-pages/src/js/sidebarCollapse.js
Due: lint-css, lint-js

fixup! fixup! actual styles for roadmap
  landing-pages/site/assets/scss/_content-drawer.scss
  landing-pages/site/assets/scss/_typography.scss
  landing-pages/site/layouts/roadmap/baseof.html
Due: lint-css

A
  .pre-commit-config.yaml
  sphinx_airflow_theme/setup.py
  sphinx_airflow_theme/sphinx_airflow_theme/__init__.py
  sphinx_airflow_theme/theme.conf
Due: none

Update asf-site to output generated at a79e8c5
  blog/airflow-1.10.10/index.html
  blog/airflow-1.10.8-1.10.9/index.html
  blog/airflow-survey/index.html
  blog/announcing-new-website/index.html
  blog/apache-con-europe-2019-thoughts-and-insights-by-airflow-committers/index.html
  blog/documenting-using-local-development-environments/index.html
  blog/experience-in-google-season-of-docs-2019-with-apache-airflow/index.html
  blog/implementing-stable-api-for-apache-airflow/index.html
  blog/its-a-breeze-to-develop-apache-airflow/index.html
  blog/tags/community/index.html
  blog/tags/community/index.xml
  index.html
  search/index.html
  sitemap.xml
  use-cases/adobe/index.html
  use-cases/big-fish-games/index.html
  use-cases/dish/index.html
  use-cases/experity/index.html
  use-cases/onefootball/index.html
Due: none

Deploying to asf-site from @ a6a392f2b91272c2d41824909919c73e599b2f8c 🚀
  index.html
Due: none

Deploying to asf-site from @ 5bf5d3dd691d5c67caa3f45657fcb01b46c8c486 🚀
  blog/airflow-1.10.10/index.html
  blog/airflow-1.10.12/index.html
  blog/airflow-1.10.8-1.10.9/index.html
  blog/airflow-survey/index.html
  blog/announcing-new-website/index.html
  blog/apache-airflow-for-newcomers/index.html
  blog/apache-con-europe-2019-thoughts-and-insights-by-airflow-committers/index.html
  blog/documenting-using-local-development-environments/index.html
  blog/experience-in-google-season-of-docs-2019-with-apache-airflow/index.html
  blog/experience-with-airflow-as-an-outreachy-intern/index.html
  blog/implementing-stable-api-for-apache-airflow/index.html
  blog/its-a-breeze-to-develop-apache-airflow/index.html
  index.html
  search/index.html
  sitemap.xml
  use-cases/adobe/index.html
  use-cases/big-fish-games/index.html
  use-cases/dish/index.html
  use-cases/experity/index.html
  use-cases/onefootball/index.html
  use-cases/sift/index.html
Due: none

Deploying to asf-site from @ 10a8928ac5d6c5cbfab51d3e9dbe72b7e484424d 🚀
  blog/airflow-1.10.10/index.html
  blog/airflow-1.10.12/index.html
  blog/airflow-1.10.8-1.10.9/index.html
  blog/airflow-survey/index.html
  blog/announcing-new-website/index.html
  blog/apache-airflow-for-newcomers/index.html
  blog/apache-con-europe-2019-thoughts-and-insights-by-airflow-committers/index.html
  blog/documenting-using-local-development-environments/index.html
  blog/experience-in-google-season-of-docs-2019-with-apache-airflow/index.html
  blog/experience-with-airflow-as-an-outreachy-intern/index.html
  blog/implementing-stable-api-for-apache-airflow/index.html
  blog/its-a-breeze-to-develop-apache-airflow/index.html
  index.html
  search/index.html
  sitemap.xml
  use-cases/adobe/index.html
  use-cases/big-fish-games/index.html
  use-cases/dish/index.html
  use-cases/experity/index.html
  use-cases/onefootball/index.html
  use-cases/sift/index.html
Due: none

Deploying to asf-site from @ 17685b8375da0e052fe4e18ac2304b355c31b0c9 🚀
  blog/airflow-1.10.10/index.html
  blog/airflow-1.10.12/index.html
  blog/airflow-1.10.8-1.10.9/index.html
  blog/airflow-survey/index.html
  blog/announcing-new-website/index.html
  blog/apache-airflow-for-newcomers/index.html
  blog/apache-con-europe-2019-thoughts-and-insights-by-airflow-committers/index.html
  blog/documenting-using-local-development-environments/index.html
  blog/experience-in-google-season-of-docs-2019-with-apache-airflow/index.html
  blog/experience-with-airflow-as-an-outreachy-intern/index.html
  blog/implementing-stable-api-for-apache-airflow/index.html
  blog/its-a-breeze-to-develop-apache-airflow/index.html
  ecosystem/index.html
  index.html
  search/index.html
  sitemap.xml
  use-cases/adobe/index.html
  use-cases/big-fish-games/index.html
  use-cases/dish/index.html
  use-cases/experity/index.html
  use-cases/onefootball/index.html
  use-cases/sift/index.html
Due: none

Deploying to asf-site from @ 911e1dbf82a62dd009c8a5455e310c980220f9c5 🚀
  blog/airflow-1.10.10/index.html
  blog/airflow-1.10.12/index.html
  blog/airflow-1.10.8-1.10.9/index.html
  blog/airflow-survey/index.html
  blog/announcing-new-website/index.html
  blog/apache-airflow-for-newcomers/index.html
  blog/apache-con-europe-2019-thoughts-and-insights-by-airflow-committers/index.html
  blog/documenting-using-local-development-environments/index.html
  blog/experience-in-google-season-of-docs-2019-with-apache-airflow/index.html
  blog/experience-with-airflow-as-an-outreachy-intern/index.html
  blog/implementing-stable-api-for-apache-airflow/index.html
  blog/its-a-breeze-to-develop-apache-airflow/index.html
  index.html
  search/index.html
  sitemap.xml
  use-cases/adobe/index.html
  use-cases/big-fish-games/index.html
  use-cases/dish/index.html
  use-cases/experity/index.html
  use-cases/onefootball/index.html
  use-cases/sift/index.html
Due: none

Switch to Apache-owned GitHub actions
  .github/workflows/build.yml
Due: none

Path conditions:
  lint-css: any of: \.scss$
  lint-js: any of: \.js$
